@model List<DMPTestProject.Models.RSS_Feed.RSSFeed>
@{
}

<h1>RSS Feeds</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Url</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
